
body {
    margin: 0;
  
}

/*#00cc99  green*/
/*#474E5D Grey*/

.grid-container {
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav' 'landing landing landing landing map map' 'location location location location location location' 'location1 location1 location1 location1-2 location1-2 location1-2' 'location2 location2 location2 location2-2 location2-2 location2-2' 'location3 location3 location3 location3-2 location3-2 location3-2' 'amenities amenities amenities amenities amenities amenities' 'checker1 checker1 checker2 checker2 checker3 checker3' 'checker4 checker4 checker5 checker5 checker6 checker6' 'checker7 checker7 checker8 checker8 checker9 checker9' 'review review review review review review' 'carasaul carasaul carasaul carasaul carasaul carasaul' 'contact contact contact contact contact contact' 'contact1 contact1 contact1 contact2 contact2 contact2' 'footer footer footer footer footer footer';
    background-color: #fff;
}

.item1 {
    grid-area: nav;
    background-color: #474E5D;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    font: 300 16px/1.2 Lato;
    
}

    .item1 h2 {
        color: #fff;
        padding-left: 40px;
        font-family: 'Montserrat', sans-serif;
    }

.nav {
    list-style: none;
    float: right;
    padding-right: 20PX;
    font-family: 'Shadows Into Light', cursive;
}

    .nav li {
        float: left; /*1*/
    }

    .nav > li a {
        display: block; /*1*/
        padding: 12px 18px; /*2*/
        text-decoration: none; /*3*/
        color: #fff;
        border-bottom: 1px solid #eee;
        transition: all ease .5s;
    }

    .nav:hover > li a {
        opacity: .5;
        transition: all ease .5s;
    }

    .nav > li:hover a {
        opacity: 1;
        color: #00cc99;
        border-color: #00cc99;
    }

.item2 {
    grid-area: landing;
    background-image: url('img/img9.jpg');
    background-repeat: no-repeat;
    background-size: 1100px 500px;
    font-size: 30px;
    padding-top: 40px;
    height: 500px;
    
}



    .item2 h1 {
        text-align: center;
        padding-top: 50px;
        color: #00cc99;
        font-family: 'Montserrat', sans-serif;
    }

    .item2 p {
        text-align: center;
        color: #00cc99;
        font-family: 'Shadows Into Light', cursive;
    }

.item3 {
    grid-area: map;
    background-image: url('img/Versilia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    padding-top: 40px;
    height: 500px;
}

.item4 {
    grid-area: location;
    height: 150px;
    background-color: #474E5D;
    text-align: center;
    
}

    .item4 h2 {
        color: #00cc99;
        font-family: 'Montserrat', sans-serif;
        padding-top: 10px;
    }

    .item4 p {
        color: #00cc99;
        font-family: 'Shadows Into Light', cursive;
        font-size: 25px;
    }

.item5 {
    grid-area: location1;
    background-color: #fff;
    height: 400px;
   
}

    .item5 h2 {
        padding-top: 40px;
        padding-left: 60px;
        color: #474E5D;
        font-family: 'Montserrat', sans-serif;
    }

    .item5 p {
        color: #474E5D;
        padding-left: 60px;
        font-family: 'Shadows Into Light', cursive;
    }

    .item5 li{
       text-align: center;
        text-decoration: none; /*3*/
        color: black;
        display: inline;
    }

    .item5 button {
        margin: 0 auto;
        font-size: 15px;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #00cc99;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
    }

.button-location1 {
    float: left;
    padding-left: 60px;
}

    .button-location1 button:hover {
        background-color: #ffffff;
        color: #00cc99;
        border-color: #00cc99;
    }

.item6 {
    grid-area: location1-2;
    background-color: #fff;
    height: 400px;
}

    .item6 img {
        height: 300px;
        width: 600px;
        float: right;
        padding-right: 40px;
        padding-top: 40px;
    }

.item7 {
    grid-area: location2;
    background-color: #474E5D;
    height: 400px;
}

    .item7 img {
        height: 300px;
        width: 600px;
        padding-left: 40px;
        padding-top: 40px;
    }

.item8 {
    grid-area: location2-2;
    background-color: #474E5D;
    height: 400px;
}

    .item8 h2 {
        padding-top: 30px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }

    .item8 p {
        color: #fff;
        font-family: 'Shadows Into Light', cursive;
    }

    .item8 li {
        padding-left: 20px;
        text-decoration: none; /*3*/
        color: #fff;
        display: inline;
    }

    .item8 button {
        margin: 0 auto;
        font-size: 15px;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #00cc99;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
    }

.button-location2 {
    float: left;
}

    .button-location2 button:hover {
        background-color: #ffffff;
        color: #00cc99;
        border-color: #00cc99;
    }

.item9 {
    grid-area: location3;
    background-color: #fff;
    height: 400px;
}

    .item9 h2 {
        padding-top: 30px;
        padding-left: 60px;
        color: #474E5D;
        font-family: 'Montserrat', sans-serif;
    }

    .item9 p {
        color: #474E5D;
        padding-left: 60px;
        font-family: 'Shadows Into Light', cursive;
    }

    .item9 li {
        padding-left: 20px;
        text-decoration: none; /*3*/
        color: #474E5D;
        display: inline;
    }

    .item9 button {
        margin: 0 auto;
        font-size: 15px;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #00cc99;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
    }

.button-location3 {
    float: left;
    padding-left: 60px;
}

    .button-location3 button:hover {
        background-color: #ffffff;
        color: #00cc99;
        border-color: #00cc99;
    }

.item10 {
    grid-area: location3-2;
    background-color: #fff;
    height: 400px;
}

    .item10 img {
        height: 300px;
        width: 600px;
        float: right;
        padding-right: 40px;
        padding-top: 40px;
    }

.item11 {
    grid-area: amenities;
    height: 150px;
    background-color: #474E5D;
    text-align: center;
}

    .item11 h2 {
        color: #00cc99;
        font-family: 'Montserrat', sans-serif;
    }

    .item11 p {
        color: #00cc99;
        font-family: 'Shadows Into Light', cursive;
        font-size: 25px;
    }

.item12 {
    grid-area: checker1;
    background-color: white;
    height: 400px;
    margin-left: 20px;
    margin-top: 40px;
    background-image: url('img/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.receptions p {
    padding-top: 200px;
    font-size: 20px;
    color: #fff;
}

.item13 {
    grid-area: checker2;
    background-color: white;
    height: 400px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

    /*.occasion {
   text-align: center;
    font-size: 10px;
    color: #474E5D;
}*/

    .item13 button {
        margin: 0 auto;
        font-size: 10px;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #00cc99;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
    }

.button-ocasion {
    padding-top: 50px;
}

    .button-ocasion button:hover {
        background-color: #ffffff;
        color: #00cc99;
        border-color: #00cc99;
    }

.item14 {
    grid-area: checker3;
    background-color: white;
    height: 400px;
    margin-top: 40px;
    margin-right: 20px;
    background-image: url('img/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.relax p {
    padding-top: 200px;
    font-size: 20px;
    color: #fff;
}

.item15 {
    grid-area: checker4;
    background-color: white;
    height: 400px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

    .item15 button {
        margin: 0 auto;
        font-size: 10px;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #00cc99;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.button-apart {
    padding-top: 50px;
}

    .button-apart button:hover {
        background-color: #ffffff;
        color: #00cc99;
        border-color: #00cc99;
    }

.item16 {
    grid-area: checker5;
    background-color: white;
    height: 400px;
    background-image: url('img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.home p {
    padding-top: 200px;
    font-size: 20px;
    color: #fff
}

.item17 {
    grid-area: checker6;
    background-color: white;
    height: 400px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

    .item17 button {
        margin: 0 auto;
        font-size: 10px;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #00cc99;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.button-staff {
    padding-top: 50px;
}

    .button-staff button:hover {
        background-color: #ffffff;
        color: #00cc99;
        border-color: #00cc99;
    }

.item18 {
    grid-area: checker7;
    background-color: white;
    height: 400px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-image: url('img/img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.view p {
    padding-top: 200px;
    font-size: 20px;
    color: #fff
}

.item19 {
    grid-area: checker8;
    background-color: white;
    height: 400px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

    .item19 button {
        margin: 0 auto;
        font-size: 10px;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #00cc99;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.button-book {
    padding-top: 50px;
}

    .button-book button:hover {
        background-color: #ffffff;
        color: #00cc99;
        border-color: #00cc99;
    }

.item20 {
    grid-area: checker9;
    background-color: white;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-image: url('img/img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.dining p {
    padding-top: 200px;
    font-size: 20px;
    color: #fff
}

.item21 {
    grid-area: review;
    height: 150px;
    background-color: #474E5D;
    text-align: center;
}

    .item21 h2 {
        color: #00cc99;
        font-family: 'Montserrat', sans-serif;
        padding-top: 20px
    }

    .item21 p {
        color: #00cc99;
        font-family: 'Shadows Into Light', cursive;
    }

.item22 {
    grid-area: carasaul;
    font-family: 'Montserrat', sans-serif;
}

/*-----------carousel----------------------*/

.carousel-wrapper {
    height: 550px;
    position: relative;
    width: 100%;
    color: #fff;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: lightseagreen;
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-image: url('img/VillaLarino_01.jpg');
    background-size: cover;
    text-align: center;
}

.item-2 {
    background-image: url('img/villadimontesoli_01.jpg');
    background-size: cover;
    text-align: center;
}

.item-3 {
    background-image: url('img/tuscany_lacostia_01.jpg');
    background-size: cover;
    text-align: center;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
/*-----------carousel-end---------------------*/
.item23 {
    grid-area: contact;
    height: 150px;
    background-color: #474E5D;
    text-align: center;
}

    .item23 h2 {
        color: #00cc99;
        font-family: 'Montserrat', sans-serif;
    }

    .item23 p {
        color: #00cc99;
        font-family: 'Shadows Into Light', cursive;
        font-size: 25px;
    }

.item24 {
    grid-area: contact1;
    height: 600px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
}

#faPhone {
    color: #474E5D;
    padding-top: 20px;
}

#faMail {
    color: #474E5D;
    padding-top: 20px;
}

#faPin {
    color: #474E5D;
    padding-top: 20px;
}

/*@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');*/

#social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}


.facebookBtn {
    background: #4060A5;
}

    .facebookBtn:before { /* use :before to add the relevant icons */
        font-family: "FontAwesome";
        content: " "; /* add facebook icon */
    }

    .facebookBtn:hover {
        color: #4060A5;
        background: #fff;
        border-color: #4060A5; /* change the border color on mouse hover */
    }


.twitterBtn {
    background: #00ABE3;
}

    .twitterBtn:before {
        font-family: "FontAwesome";
        content: ""; /* add twitter icon */
    }

    .twitterBtn:hover {
        color: #00ABE3;
        background: #fff;
        border-color: #00ABE3;
    }


.googleplusBtn {
    background: #e64522;
}

    .googleplusBtn:before {
        font-family: "FontAwesome";
        content: ""; /* add googleplus icon */
    }

    .googleplusBtn:hover {
        color: #e64522;
        background: #fff;
        border-color: #e64522;
    }

.item25 {
    grid-area: contact2;
    height: 500px;
}

/* Common styles
* --------------------------------------- */
* {
    box-sizing: border-box;
}

textarea {
    font-family: 'Montserrat', sans-serif;
}

.wrap {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
}
/*screen resolutions lower than 620px*/
@media all and (max-width: 1180px) {
    .wrap {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

#section h2 {
    margin-bottom: 50px;
    position: relative;
    display: block;
    
}

#section p a {
    color: #00B16A;
    text-decoration: none;
}

#section .wrap {
    text-align: center;
    width: 100%;
}

#section .box {
    text-align: center;
    margin: 5% 0 0 0;
    width: 100%;
}

.contact-form {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
}

    .contact-form .input-block {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 60px;
        border-bottom: 2px solid #00cc99;
        margin: 0;
        position: relative;
        margin-bottom: 20px;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .contact-form .input-block.textarea {
            height: auto;
        }

            .contact-form .input-block.textarea .form-control {
                height: auto;
                resize: none;
            }

        .contact-form .input-block label {
            position: absolute;
            left: 10px;
            top: 25px;
            display: block;
            margin: 0;
            font-weight: 400;
            z-index: 1;
            color: #aaa;
            font-size: 18px;
            line-height: 10px;
        }

        .contact-form .input-block .form-control {
            background-color: transparent;
            margin: 0;
            outline: none;
            border: none;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            height: auto;
            padding: 30px 10px;
            width: 100%;
            position: relative;
            z-index: 2;
            font-size: 18px;
            color: #333;
        }

            .contact-form .input-block .form-control:focus label {
                top: 0;
            }

    .contact-form .square-button {
        background-color: #00cc99;
        color: #fff;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 0 60px;
        height: 60px;
        cursor: pointer;
        outline: none;
        border: none;
        width: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .contact-form .square-button:hover, .contact-form .square-button:focus {
            background-color: #66CC99;
            box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
            transform: translateY(-4px);
        }

@media (min-width: 768px) {
    .contact-wrap {
        margin: auto;
    }
}

@media (max-width: 868px) {
    .contact-form {
        width: 100%;
        padding: 40px;
    }
}

@media (max-width: 568px) {
    .contact-form {
        padding: 10px;
    }
}
/*----page styles---*/

.contact-wrap {
    background: #ffffff;
}

    .contact-wrap h1 {
        background-color: #ffffff;
        color: #ff7c62;
        padding: 40px;
        margin: 0 0 50px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

        .contact-wrap h1 small {
            font-size: 18px;
            display: block;
            text-transform: none;
            font-weight: 300;
            margin-top: 10px;
            color: #ff7c62;
        }

.vl {
    border-left: 2px solid #808080;
    height: 530px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}


.item26 {
    grid-area: footer;
    background-color: #474E5D;
    height: 175px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

    .item26 p, i {
        padding-top: 10px;
        color: #fff;
    }
